CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json
analysis
.cache
callgrind.*
unit_test*
std_rs
Testing*

*.DS_Store
*.json
*.dylib
*.clangd
*.so
*.out
*.exe
*.tcl
cmake_install.cmake
CTestTestfile.cmake
